.header, .menu, nav.main, .chapterEnd, a.button {
	display: none;
}
#toc {
		margin-top: 124px;
	}
#toc a {
	color: #434343;
}
hr { color: #ddd; border: none; }
.subheader { font-style: italic; color: #828282; }
a.link:link:after { content: " (" attr(href) ") "; }

.quicktip .qt-content{
	display: block;
}
.quicktip .preview {
	display: none;
}

.print-only{ display:inline;}

.cbp-fwslider {
	overflow: visible;
}
.cbp-fwslider nav span.cbp-fwnext, 
.cbp-fwslider nav span.cbp-fwprev,
.cbp-fwdots {
	display:none;
}

.cbp-fwslider ul li {
	float: none;
}
.page-break	{ display: block; page-break-before: always; }