<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Interactive Medication Table</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.InteractiveMedicationTable</string>
	<key>CFBundleName</key>
	<string>med-table</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Height</key>
	<integer>188</integer>
	<key>MainHTML</key>
	<string>med-table.html</string>
	<key>Width</key>
	<integer>350</integer>
	<key>IBNotifiesOnReady</key>
	<true/>
</dict>
</plist>