@import url('../fonts/stylesheet.css');
/* 'OpenSansLight', 'OpenSansLightItalic', 'OpenSansRegular', 'OpenSansItalic', 'OpenSansBold', */

/* Skeleton V1.2 modified by Jen Patel 8/16/2013
*  Copyright 2011, Dave Gamache
*  www.getskeleton.com
*  Free to use under the MIT license.
*  http://www.opensource.org/licenses/mit-license.php
*  6/20/2012 */

/* Table of Content
==================================================
	#Reset & Basics
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing
	#Site Styles
		#header #footer
		.nav
		.main table
	#Page Styles
		.med_list
	#Site/Page Media Queries 
*/

/* #Reset & Basics */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
	ol, ul { list-style: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; 
	}
	body {
		line-height: 1;
		background: #424242;
		font-family: 'OpenSansRegular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
	}

/* #Typography */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-weight: normal; 
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	b {font-family: 'OpenSansBold';}
	em { font-style: 'OpenSansItalic'; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
	.grn_text { color:#82a95c; }
	.gry_text { color:#b5b5b5; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* #Links */
	a, a:visited { color: #929292; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #4d4d4d; }
	p a, p a:visited { line-height: inherit; }

/* #Lists */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol, ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li, ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images */
	img.scale-with-grid {
		max-width: 100%;
		height: auto; 
	}


/* #Buttons */
	/*<input type="button" name="activate" value="Activate" class="button" onclick="" />
		<div class="button">Activate</div>*/
	.button, button, 
	input[type="submit"], 
	input[type="reset"], 
	input[type="button"] {
		background: #fdfdfd; /* Old browsers */
			background: -moz-linear-gradient(top, #fdfdfd 0%, #f0f0f0 89%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(89%,#f0f0f0)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fdfdfd 0%,#f0f0f0 89%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #fdfdfd 0%,#f0f0f0 89%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #fdfdfd 0%,#f0f0f0 89%); /* IE10+ */
			background: linear-gradient(to bottom, #fdfdfd 0%,#f0f0f0 89%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
		border: 1px solid #c5c5c5;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		color: #4d4d4d;
		display: inline-block;
		font-size: 12px;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 400;
		text-decoration: none;
		text-shadow: 0 1px rgba(255, 255, 255, .75);
		cursor: pointer; 
		height:30px;
		line-height: 28px;
	}

	.button:hover, 
	button:hover, 
	input[type="submit"]:hover, 
	input[type="reset"]:hover, 
	input[type="button"]:hover {
		border: solid 1px #92a8be;
		box-shadow: inset 0px -1px 1px rgba(255,255,255,0.6), 0px 0px 8px rgba(10,67,220,0.2);
		transition: 	 	all 0.15s;
		-moz-transition: 	all 0.15s; /* Firefox 4 */
		-webkit-transition: all 0.15s; /* Safari and Chrome */
		-o-transition: 		all 0.15s; /* Opera */
	}

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ 
	}
	div.button{
		line-height: 29px;
		height:28px;
		padding: 0 8px 0 8px;
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; 
	}
	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	/*<div class="button blue"><span class="check"></span>Check-in</div>*/
	.blue{
		border: 1px solid #306b9c;
		background: #599cd3; /* Old browsers */
		background: -moz-linear-gradient(top, #599cd3 0%, #206096 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#599cd3), color-stop(100%,#206096)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #599cd3 0%,#206096 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #599cd3 0%,#206096 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #599cd3 0%,#206096 100%); /* IE10+ */
		background: linear-gradient(to bottom, #599cd3 0%,#206096 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#599cd3', endColorstr='#206096',GradientType=0 ); /* IE6-9 */
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #fff;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		text-shadow: 0 1px 1px rgba(17, 99, 126, 1);
		padding: 9px;
		-moz-box-shadow:    inset 0 0 1px rgba(255,255,255,1);
		-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,1);
		box-shadow:         inset 0 0 1px rgba(255,255,255,1);
	}
	.blue:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		border: 1px solid #306b9c;
		box-shadow: inset 0px -1px 1px rgba(48,107,156,1);
		transition: 	 	all 0.15s;
		-moz-transition: 	all 0.15s; /* Firefox 4 */
		-webkit-transition: all 0.15s; /* Safari and Chrome */
		-o-transition: 		all 0.15s; /* Opera */
	  /*border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa;*/
	}
	/*.check{
		background: url('../images/check.png');
		background-repeat: no-repeat;
		height: 11px;
		width: 13px;
		display: inline-block;
		padding-left: 3px;
	}*/

	
/*#Dropdown Buttons 
==================================================*/
/*Uses button styles*/
.active_dropdown_area{
	cursor: pointer;
	width: 60px;
}
#type_drop .active_dropdown_area{
	width: 125px;
}
.dropdown{
	font-family: 'Open Sans', 'OpenSansBold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	overflow: hidden;
}
.down_dropped{
	overflow: visible;
}
.dropdown .active_item_name{
	display: block;
	cursor: pointer;
	font-size:12px;
	display: block;
	font-family: Helvetica, Arial;
	color:#4d4d4d;
	text-shadow: 1px 1px rgba(255,255,255,1);
	font-family: 'Open Sans', 'OpenSansBold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdown .active_item_arrow{
	width: 28px;
	display: inline-block;
	height: 30px;
	background: url('../images/dropdown_arrow.png') no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	right: 0;
}
.dropdown .expanding_dropdown_area{
	position: absolute;
	top:28px;
	width: 100px;
	background: #fdfdfd;
	border-radius: 3px;
	line-height: 30px;
	border: 1px solid #e5e5e5;
	margin-left: -9px;
	-moz-box-shadow:    0px 2px 3px 0px rgba(150,150,150,.3);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(150,150,150,.3);
	box-shadow:         0px 2px 3px 0px rgba(150,150,150,.3);
}
.dropdown.down_dropped{
}
#type_drop .expanding_dropdown_area{
	width: 150px;
}
.dropdown .expanding_dropdown_area .arrow {
	background: url("../images/light_arrow_up.png");
	background-repeat: no-repeat;
	display: block;
	height:9px;
	width:14px;
}
.dropdown .expanding_dropdown_area .dropdown_opt{
	display: block;
	cursor: pointer;
	position: relative;
	transition: 	 	all 0.15s linear;
	-moz-transition: 	all 0.15s linear; /* Firefox 4 */
	-webkit-transition: all 0.15s linear; /* Safari and Chrome */
	-o-transition: 		all 0.15s linear; /* Opera */
	z-index: 100000;
}
.dropdown .expanding_dropdown_area .dropdown_opt input{
	border: none;
	background-color: transparent;
	cursor: default;
	margin-bottom: 0px;
	padding-left: 7px;
}
.dropdown .expanding_dropdown_area input[type="checkbox"] {
	vertical-align: bottom;
	margin-bottom: 2px;
}
.dropdown .expanding_dropdown_area .dropdown_opt:last-child{
	border-bottom: none;
}
.dropdown .expanding_dropdown_area .dropdown_opt:nth-child(even){
	background:#fdfdfd;
}
.dropdown .expanding_dropdown_area .dropdown_opt:hover, 
.dropdown .expanding_dropdown_area .dropdown_opt:nth-child(even):hover{
	z-index: 100001;
	background-color: #eee;
}
.filter .dropdown .expanding_dropdown_area .dropdown_opt:nth-child(even){
	background:#fdfdfd;
}
.filter .dropdown .expanding_dropdown_area .dropdown_opt:hover, 
.filter .dropdown .expanding_dropdown_area .dropdown_opt:nth-child(even):hover{
	z-index: 100001;
	background-color: #fdfdfd;
}
.dropdown_head{
	border-bottom: solid 1px #e1e1e1;
	background: #f5f5f5;
}
.dropdown_head input{
	border: none;
	color: #b5b5b5;
	border-radius: 3px;
	-moz-box-shadow: 0px -1px 1px 0 #d6d6d6;
	-webkit-box-shadow: 0px -1px 1px 0 #d6d6d6;
	box-shadow: 0px -1px 1px 0 #d6d6d6;
	height: 22px;
	line-height: 22px;
	margin: 8px 0 8px 8px;
	padding: 0 8px 0 8px;
}
.dropdown.disabled,
.button.disabled,
button.disabled,
input[type="submit"].disabled,
input[type="reset"].disabled,
input[type="button"].disabled {
	cursor: default;
	color: #b5b5b5;
	border: solid #e2e2e2 1px;
	background: #fafafa;
}
.dropdown.disabled:hover,
.button.disabled:hover,
button.disabled:hover,
input[type="submit"].disabled:hover,
input[type="reset"].disabled:hover,
input[type="button"].disabled:hover {
	cursor: default;
	color: #b5b5b5;
	border: solid #e2e2e2 1px;
	background: #fafafa;
	box-shadow: none;
}
.dropdown.disabled .active_item_arrow{
	background-image:  url(../images/light_drop_arrow.png);
}
.dropdown.disabled .active_dropdown_area{
	cursor: default;
}
.dropdown.disabled .active_item_name{
	cursor: default;
	color: #b5b5b5;
}
#types_drop .dropdown_head input{
	width: 140px;
}
.expanding_dropdown_area{
	background: #fdfdfd;
}
.expanding_dropdown_area .fright{
	border-left: #e4e4e4 solid 1px;
}
.expanding_dropdown_area h6{
	border-bottom: #e4e4e4 solid 1px;
	padding: 10px 6px 8px 6px;
}
.expanding_dropdown_area ul li{
	list-style: none;
}
.expanding_dropdown_area ul{
	padding-top:10px;
	margin-left: 6px;
	border-top: solid 1px #fff;
}
.expanding_dropdown_area ul li ul{
	margin-left: -18px;
}

/* #Forms */
	form { margin-bottom: 20px; }
	fieldset { margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select { padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
		color: #444;
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea { min-height: 60px; }
	label, legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select { width: 220px; }
	input[type="checkbox"] { display: inline; }
	label span, legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Base 960 Grid
================================================== */
.container { position: relative; width: 1080px; margin: 0 auto; padding: 0; margin-top: 20px;}
.container .column,
.container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha { margin-left: 0; }
.column.omega, .columns.omega { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns { width: 40px;  }
.container .two.columns { width: 100px; }
.container .three.columns { width: 160px; }
.container .four.columns { width: 220px; }
.container .five.columns { width: 280px; }
.container .six.columns { width: 340px; }
.container .seven.columns { width: 400px; }
.container .eight.columns { width: 460px; }
.container .nine.columns { width: 520px; }
.container .ten.columns { width: 580px; }
.container .eleven.columns { width: 640px; }
.container .twelve.columns { width: 700px; }
.container .thirteen.columns { width: 760px; }
.container .fourteen.columns { width: 820px; }
.container .fifteen.columns { width: 880px; }
.container .sixteen.columns { width: 1060px; }

.container .one-third.column { width: 348px; }
.container .two-thirds.column { width: 692px; }

/* #Tablet (Portrait) Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container                                  { width: 768px; }
	.container .column,
	.container .columns                         { margin-left: 10px; margin-right: 10px;  }
	.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
	.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
	.alpha.omega                                { margin-left: 0; margin-right: 0; }

	.container .one.column,
	.container .one.columns                     { width: 28px; }
	.container .two.columns                     { width: 76px; }
	.container .three.columns                   { width: 124px; }
	.container .four.columns                    { width: 172px; }
	.container .five.columns                    { width: 220px; }
	.container .six.columns                     { width: 268px; }
	.container .seven.columns                   { width: 316px; }
	.container .eight.columns                   { width: 364px; }
	.container .nine.columns                    { width: 412px; }
	.container .ten.columns                     { width: 460px; }
	.container .eleven.columns                  { width: 508px; }
	.container .twelve.columns                  { width: 556px; }
	.container .thirteen.columns                { width: 604px; }
	.container .fourteen.columns                { width: 652px; }
	.container .fifteen.columns                 { width: 700px; }
	.container .sixteen.columns                 { width: 748px; }

	.container .one-third.column                { width: 236px; }
	.container .two-thirds.column               { width: 492px; }
}
/*  #Mobile (Portrait) Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { width: 300px; }
	.container .columns,
	.container .column { margin: 0; }

	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column  { width: 300px; }
}
/* #Mobile (Landscape) Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container { width: 420px; }
	.container .columns,
	.container .column { margin: 0; }

	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column { width: 420px; }
}

/* #Clearing */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before, .clearfix:after,
.row:before, .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.fright{
	float: right;
	margin: 0 auto;
}
.fleft{
	float: left;
	margin: 0 auto;
}
/* For modern browsers */
.cf:before, .cf:after { content:""; display:block; }
.cf:after { clear:both; }

/*main table*/
table.main_table{
	margin: 0;
	padding: 0;
	width: 100%;
}
table.main_table thead{
	/*background:#424242;*/
	font-size: 10px;
	color: #929292;
}
.drop_arrow{
	background-image:  url(../images/down_arrow.png);
	height: 7px;
	width: 10px;
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: top;
	margin: 12px 18px 0px -6px;
}
table.main_table thead tr th{
	padding: 5px 0 4px 0px;
	font-weight: normal;
	text-align: left;
}
table.main_table thead tr th:first-child{
	padding-left: 16px;
}
table.main_table thead tr th.sort-col:hover{
	color: #fff;
}
table.main_table tbody tr {
	font-size: 14px;
	color: #fff;
	/*background: #fff;*/
}
table.main_table tbody tr td {
	padding: 5px 0 7px 0;
	/*padding: 11px 8px 9px 10px*/;
}
table.main_table tbody tr td:first-child {
	padding-left: 16px;
}
.active_to td {
	background: #6a6a6a;
	cursor:pointer;
	z-index: 1;
}
.num{
	width: 30px;
	display: inline-block;
	text-align: right;
}
.sm_num{
	width: 18px;
	display: inline-block;
	text-align: right;
}

/* #Page Styles */
.med_table .closed {
	display: none;
}
.sort-key {
	display: none;
}
th.sortable:hover,
td.condition:hover,
td.provider:hover { text-decoration: underline; cursor: pointer; }  
th.sorted-asc, th.sorted-desc { 
	font-family: 'OpenSansBold';
}
th.sortable .col-head { padding-right: 10px; }
th.sortable.renewDue { min-width: 95px; }
th.sortable.prescribed { min-width: 80px; }
th.sortable.condition { min-width: 80px; }
th.sortable.brand{ min-width: 55px;}
th.sig{ min-width: 87px;}
th .arrow{
	background-repeat: no-repeat;
	display: inline-block;
	height: 7px;
	width: 10px;
	margin-bottom:-2px;
	margin-left: 3px;
}
th.sorted-asc .arrow {
	background: url('../images/down_arrow.png') no-repeat;
}
th.sorted-desc .arrow {
	background: url('../images/up_arrow.png') no-repeat;
}
tr td.provider{
	min-width: 87px;
}
tr td.dose{
	min-width: 80px;
}
tbody tr td.doseMax .block{
	width: 10px;
	height: 10px;
	display: block;
}
tbody tr td.doseMax .max{
	background: rgba(47,47,47,1);
}
tbody tr td.doseMax .least{
	/*background: rgba(47,47,47,.1);*/
	background: rgba(224,224,224,.5);
}
tbody tr td.doseMax .low{
	/*background: rgba(47,47,47,.25);*/
	background: rgba(204,204,204,.5);
}
tbody tr td.doseMax .mid{
	/*background: rgba(47,47,47,.5);*/
	background: rgba(140,140,140,.3);
}
tbody tr td.doseMax .overmax{
	background: #c30000;
}
tbody tr td .units, tbody tr td .per, tbody tr td.refills {
	color:#929292;
}
tbody tr td .units, tbody tr td .per {
	font-size: 10pt;
}
tbody tr.closed td {
	color: #929292;
}
thead tr th ul{
	margin-bottom: 0;
}
thead tr th ul li{
	display: inline;
	line-height: 12px;
	margin-bottom: 0;
	margin-left: 10px;
}
thead tr th ul li:first-child{
	margin-left: 0px;
}
thead tr th.timeline{
	min-width:140px;
}
tbody tr td.timeline .bar {
	border-radius: 7px;
	height: 7px;
	max-width: 107px;
}
tbody tr td.timeline .bar .max, 
tbody tr td.timeline .bar .least,
tbody tr td.timeline .bar .low, 
tbody tr td.timeline .bar .mid, 
tbody tr td.timeline .bar .overmax {
	display: inline-block;
	height: 7px;
}
tbody tr td.timeline .bar.max, tbody tr td.timeline .bar .max{
	background: rgba(47,47,47,1);
}
tbody tr td.timeline .bar.least, tbody tr td.timeline .bar .least{
	/*background: rgba(47,47,47,.1);*/
	background: rgba(224,224,224,.5);
}
tbody tr td.timeline .bar.low, tbody tr td.timeline .bar .low{
	/*background: rgba(47,47,47,.25);*/
	background: rgba(204,204,204,.35);
}
tbody tr td.timeline .bar.mid, tbody tr td.timeline .bar .mid {
	/*background: rgba(47,47,47,.5);*/
	background: rgba(140,140,140,.3);
}
tbody tr td.timeline .bar.overmax, tbody tr td.timeline .bar .overmax {
	background: rgba(195,0,0,.5);
}
tbody tr td.timeline #qvar.bar { width:102px; margin-left:5px; }
tbody tr td.timeline #carvedilol.bar .mid{width:12px;}
tbody tr td.timeline #carvedilol.bar .max{width:95px; margin-left: -4px;}
tbody tr td.timeline #citalopram.bar .max{width:12px;}
tbody tr td.timeline #citalopram.bar .mid{width:95px; margin-left: -4px;}
tbody tr td.timeline #gabapentin.bar .least {width: 14px; margin-left:50px;}
tbody tr td.timeline #gabapentin.bar .low {width: 14px; margin-left: -4px;}
tbody tr td.timeline #gabapentin.bar .mid {width:29px; margin-left: -4px;}
tbody tr td.timeline #lisinopril.bar .mid {width: 10px; margin-left: 15px;}
tbody tr td.timeline #lisinopril.bar .max {width: 10px; margin-left: -4px;}
tbody tr td.timeline #losartan.bar .mid {width:45px; margin-left:36px;}
tbody tr td.timeline #losartan.bar .max { width:26px; margin-left: -4px;}
tbody tr td.timeline #omeprazole.bar .max {width:29px; margin-left: 52px; border-radius: 7px;}
tbody tr td.timeline #omeprazole.bar .max2 { width:21px; background: rgba(47,47,47,1); display: inline-block; height: 7px; border-radius: 7px;}
tbody tr td.timeline #simvastatin.bar .overmax{width:28px;}
tbody tr td.timeline #simvastatin.bar .max{width: 79px; margin-left: -5px;}
tbody tr td.timeline #terbinafine.bar { width:5px; margin-left:102px;}
tbody tr td.timeline #trazodone.bar .least {width: 10px;}
tbody tr td.timeline #trazodone.bar .low {width: 10px; margin-left: -4px;}
tbody tr td.timeline #trazodone.bar .mid {width: 11px; margin-left: -4px;}
tbody tr td.timeline #trazodone.bar .low2 {width: 10px; margin-left: -4px; background: rgba(47,47,47,.25); display: inline-block; height: 7px;}
tbody tr td.timeline #warfarin.bar { width: 21px; margin-left:10px;}
tbody tr td.timeline #zolpidem.bar {width:60px; margin-left:47px;}

#top div {
	display: inline-block;
}
#top #title .list_name {
	text-transform: uppercase;
	font-size: 21px;
}
#top #title .updated {
	font-size: 14px;
	color: #929292;
	font-family: 'OpenSansItalic';
	
}
#top #actions, #top #filters {
	vertical-align: top;
	margin: 3px 0 0 15px;
}
#top ul li {
	display: inline;
	font-size: 10px;
	padding: 2px 7px 3px 7px;
	margin: 0 5px 0 5px;
}
#top ul li a{
	color: #ebebeb;
}
#top ul li a:hover{
	color: #fff;
}
#top ul li.active {
	color: #fff;
	background: #7b7364;
	border-radius:5px;
}

section {
	margin: 20px 15px 10px 15px;
}
#search {
	display: none;
	margin-left: 12px;
}
#search label {
	background: url('../images/search.png') no-repeat;
	position: absolute;
	margin: 8px 0 0 195px;
	display: block;
	height: 15px;
	width: 15px;
}
#search input {
	opacity: .5;
	z-index: 2;
}
#search input:focus {
	opacity: 1;
	background-color: #fff;
}
	/* #Tablet (Portrait) Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	/*.container  { width: 768px; }*/

}
	/*  #Mobile (Portrait) Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	/*.container { width: 300px; }*/

}
	/* #Mobile (Landscape) Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	/*.container { width: 420px; }*/

}