.caption {
	display: block;
	padding: 10px;
	
	text-align: left;
	text-decoration: none;
	height: 60px;
}
.cbp-fwslider {
	position: relative;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 0 0 40px 0;
}
.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	/*white-space: nowrap;*/
	list-style-type: none;
}
.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}
.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}
.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div  {
	border: none;
	display: block;
	margin: 0 auto;
	height: auto;
}
.cbp-fwslider nav  {
	margin-top: 25%;
	position: relative;
}
.cbp-fwslider nav span {
	position: absolute;
	width: 48px;
	height: 48px;
	opacity: .4;
	color: #fff;
	margin: 0 0 0 0;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
	border-radius: 50%;
}
.cbp-fwslider nav span:hover {
	box-shadow: 0 0 0 1px rgba(22, 124, 189, .4);
}
.cbp-fwslider nav span.cbp-fwnext {
	right: 5px;
	padding: 10px 8px 10px 12px;
}
.cbp-fwslider nav span.cbp-fwprev {
	left: 5px;
	padding: 10px 14px 10px 6px;
}
.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}
.cbp-fwdots span {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
	opacity: .4;
}
.cbp-fwdots span:hover {
	background: rgba(0,0,0,.4);
}
.cbp-fwdots span.cbp-fwcurrent {
	background: rgba(0,0,0,.4);
	box-shadow: 0 0 0 1px rgba(0,0,0,.4);
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
	opacity: 1.0;
}